@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    /* Full Height */
    @apply h-full;
  }

  html,
  body {
    /* Full Height */
    @apply h-full select-none overflow-hidden;
    /* Monospace Font */
    @apply font-mono antialiased text-white;
    /* Window Background */
    background: #292831;
    background: linear-gradient(
      150deg,
      rgba(32, 32, 38, 1) 0%,
      rgba(15, 12, 36, 1) 35%,
      rgba(29, 13, 43, 1) 100%
    );
    /* Disable User Selection */
    @apply select-none;
  }

  header.draggable {
    -webkit-app-region: drag;
  }

  button {
    -webkit-app-region: no-drag;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#555] rounded-md;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}
